# These owners will be the default reviewers for everything in the repo.
# Unless a more specific rule matches, the following users will be requested
# for review when someone opens a pull request.
#
# To add more owners, simply write their GitHub handle after the '@' symbol.

*       @hasilon88 @aceTakumi
